#container {
    display: grid;
    gap: 10px;
}

header {
    display: flex;
}
main {
    display: flex;
    gap: 10px;
}

#calendar {
    display: flex;  
    flex-direction: column;
    max-width: 1200px;
    min-width: 400px;
    width: 1200px;
    height: 800px;
    
    border: 1px solid red;
}
#calendar > #dias, #semana{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    margin: 10px;

    text-align: center;
}
#dias > .day {
    margin: 10px;

    border: 1px solid blue;
    
}
#dias > .dayNow {
    margin: 10px;

    border: 1px solid yellow;
    
}