/*Remover*/
body {
    background-color: white;
}

#container {
    height: 100%;
    display: grid;
    gap: 10px;

}
header {
    display: grid;
    grid-template-columns: 3;

    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
}
.config {
    grid-column: 3;
    text-align: end;
    align-content: center;
}
.config button {
    width: 10%;
    height: 60%;
    border-radius: 90%;

    color: white;
    background-color: blueviolet;
}
.ficha{
    grid-area: ficha;
    
    display: flex;
    flex-direction: column;
    align-items: center;
     
    position: fixed;
    left: 0;
    top: 50px;

    background-color: whitesmoke;
}
.ficha span{
    margin-top: 2rem;
}
.ficha img{
    height: 10rem;
    width: 10rem;

    border-radius: 5px;
    margin-top: 2rem;
}
.nivel{
    margin-top: 3rem;

    margin-top: 0.5rem;
}
.barra{
    width: 11rem;
    height: 0.9rem;
    border-radius: 0.5rem;

    background-color: #dddddd;
}
.barra div{
    width: 70%;
    height: 0.9rem;
    border-radius: 0.5rem;

    background-color: #4daf35;
    
}
main {
    display: flex;
    gap: 10px;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(23, 17, 32);
    border-top: 3px solid black;
    color: white;
    text-align: center;
}

#calendar {
    display: flex;  
    flex-direction: column;
    align-content: flex-end;
    
    position:absolute;
    width: 75%;
    height: max-content;
    top: 50px;
    left: 200px;
    flex-wrap: nowrap;
    
    border: 2px solid #00000010;
}

#calendar > #mes {
    text-align: center;
}
#calendar > #dias, #semana{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    margin: 10px;

    text-align: center;
}
#dias > .previous_day {
    margin: 10px;
    background-color: white;
    color: gray;
    
}
#dias > .day {
    margin: 10px;
    background-color: white;
    color: blue;
    
}
#dias > .dayNow {
    margin: 10px;
    background-color: white;
    color: yellow;
    
}
#dias > .next_day {
    margin: 10px;
    background-color: white;
    color: gray;
}


#modal section {
    max-height: 100%;
    margin-bottom: 10%;
}

/*MODAL create task Style*/
#modal-setTask {
    background: white;
    position: absolute;
    
    height: max-content;

    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    justify-content: center;

    transition: 500ms;
}

#modal-setTask.addScroll {
    overflow: auto;
}
#modal-setTask .content {
    margin: 32px 0;
    color: rgb(65, 62, 62);
}
#modal-setTask .content h1 {
    text-align: center;
    text-transform: uppercase;
}
#modal-setTask .form {
    width: 80%;

    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.content .form div:nth-child(1),
.content .form div:nth-child(4),
.content .form div:nth-child(5) {
    grid-column: span 2;
}

.form input,
.form textarea {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid rgba(39, 143, 70, 0.5);
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
}

.form label {
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.8px;

}

.form .cancel {
    background-color: #ffffff44;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 150px;
    height: 40px;

    align-self: end;

    border-radius: 6px;

    font-size: 14px;
    
    font-weight: bold;

    transition: 500ms;
}

.form .cancel:hover {
    background: white;
    color: #5A4FBE;

    text-decoration: none;
}

.form .save {
    background: white;

    width: 150px;
    height: 40px;

    border-radius: 6px;
    cursor: pointer;

    font-weight: bold;
    
    margin-top: 32px;

    grid-column: 2;
    justify-self: end;
}

.form .save:hover {
    background-color: #ffffff10;
    color: blue;
    
    text-decoration: none;
    
    transition: 500ms;
}

#modal-setTask.hide {
    opacity: 100%;
    visibility: hidden;
}

/*MODAL get task Style*/
#modal-getTask {
    background: white;
    position: fixed;
    
    max-height: 90%;

    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    justify-content: center;

    transition: 500ms;
}
#modal-getTask.addScroll {
    overflow: auto;
}
#modal-getTask .content {
    display: grid;
    grid-template-column: 1;
    grid-template-rows: 2;
    color: rgb(65, 62, 62);
}
#modal-getTask main {
    grid-row: 2;
    display: flex;
    flex-direction: column;
}
#modal-getTask.hide {
    opacity: 100%;
    visibility: hidden;
}