@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    padding: 0;
    margin: 0;    
    font-family: 'Roboto', sans-serif;
    
}
#container{
    position:fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;

    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 10fr;
    grid-template-areas: 
        'header header '
        'ficha item '
    ;
}

header{
    background-color: #8a2be2;
    padding: 25px 25px;

    grid-area: header;
    
}

header a{
    overflow: hidden;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;

    color: #ffffff;
}

.menu{
    float: right;
    display: flex;
    align-items: center;
}
.menu img{
	height: 30px;
    color: #ffffff;
    padding: 0px 7px;
}
.menu span{ 
    color: yellow;
    font-size: 20px;
    padding-left: 5px;
}

.ficha{
    grid-area: ficha;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #91b887;

}
.ficha img{
    height: 10rem;
    width: 10rem;

    border-radius: 15px;
}
.xp{
    width: 15rem;
    height: 0.9rem;
    border-radius: 0.5rem;

    background-color: #dddddd;
}
.xp div{
    width: 70%;
    height: 0.9rem;
    border-radius: 0.5rem;

    background-color: #4daf35;
}
.inventario{
    background-color: #40e0d0;
    grid-area: item;
    display: none;
}
.mercado{
    background-color: brown;

}